services:
  db:
    image: postgres:16
    container_name: wallet_db
    environment:
      POSTGRES_USER: postgres_user
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: wallet_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./docker/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres_user -d wallet_db"]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    build: .
    container_name: wallet_api
    environment:
      PORT: 3000
      DATABASE_URL: postgres://postgres_user:123456@db:5432/wallet_db

      CHOKIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  db_data: